<div class="form">
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
    <input type="text" name="name" placeholder="Enter name" ngModel />
    <br />
    <!-- <input type="email" name="email" placeholder="Enter email" ngModel /> -->
    <br />
    <!-- <button type="submit" [routerLink]="'/showImage'">proced</button> -->
    <button class="reg" type="submit">proced</button>
  </form>
</div>

<!-- <img [src]="store1" />
<div *ngFor="let item of data">
  <img [src]="item.image" />
</div> -->
